.mypy_cache/

__pycache__
src/DeePyMoD.egg-info/PKG-INFO
src/DeePyMoD.egg-info/requires.txt
src/DeePyMoD.egg-info/SOURCES.txt
src/DeePyMoD.egg-info/top_level.txt
site/404.html
site/index.html
site/sitemap.xml
site/sitemap.xml.gz
site/assets/images/favicon.png
site/assets/javascripts/bundle.4a5ba8d6.min.js
site/assets/javascripts/bundle.4a5ba8d6.min.js.map
site/assets/javascripts/vendor.d710d30a.min.js
site/assets/javascripts/vendor.d710d30a.min.js.map
site/assets/javascripts/lunr/tinyseg.min.js
site/assets/javascripts/lunr/min/lunr.ar.min.js
site/assets/javascripts/lunr/min/lunr.da.min.js
site/assets/javascripts/lunr/min/lunr.de.min.js
site/assets/javascripts/lunr/min/lunr.du.min.js
site/assets/javascripts/lunr/min/lunr.es.min.js
site/assets/javascripts/lunr/min/lunr.fi.min.js
site/assets/javascripts/lunr/min/lunr.fr.min.js
site/assets/javascripts/lunr/min/lunr.hu.min.js
site/assets/javascripts/lunr/min/lunr.it.min.js
site/assets/javascripts/lunr/min/lunr.ja.min.js
site/assets/javascripts/lunr/min/lunr.jp.min.js
site/assets/javascripts/lunr/min/lunr.multi.min.js
site/assets/javascripts/lunr/min/lunr.nl.min.js
site/assets/javascripts/lunr/min/lunr.no.min.js
site/assets/javascripts/lunr/min/lunr.pt.min.js
site/assets/javascripts/lunr/min/lunr.ro.min.js
site/assets/javascripts/lunr/min/lunr.ru.min.js
site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
site/assets/javascripts/lunr/min/lunr.sv.min.js
site/assets/javascripts/lunr/min/lunr.tr.min.js
site/assets/javascripts/lunr/min/lunr.vi.min.js
site/assets/javascripts/worker/search.9b3611bd.min.js
site/assets/javascripts/worker/search.9b3611bd.min.js.map
site/assets/stylesheets/main.fe0cca5b.min.css
site/assets/stylesheets/main.fe0cca5b.min.css.map
site/assets/stylesheets/palette.a46bcfb3.min.css
site/assets/stylesheets/palette.a46bcfb3.min.css.map
site/background/deepmod/index.html
site/background/group_sparsity/index.html
site/examples/Burgers/output_6_0.png
site/examples/Burgers/output_14_0.png
site/examples/Burgers/PDE_Burgers/index.html
site/examples/kdv/output_6_0.png
site/examples/kdv/output_14_0.png
site/examples/kdv/PDE_KdV/index.html
site/search/search_index.json
